* {
    font-family: Helvetica, Arial, sans-serif;
}

body {
    padding: 60px;
}

input {
    border-radius: 7px;
    color: grey;
    font-size: 1.2rem;
    width: 100%;
}

.card {
    align-content: center;
    
    border-radius: 8px;
    box-shadow: 0 0 .5rem gainsboro;
    overflow: hidden;
    margin: 0 10px 10px 0;
}

.card p {
    padding: .5rem;
    text-align: center;
}

.card img {
    max-height: 170px;
}

.card-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}